$background-color: #000;
$primary-color: #131313;

$sidebar-bg-color:  #030303;
$footer-bg-color: #272727;
$main-bg-color:  #161616;

$threebuttons-bg-color: #161616;
$threebuttons-bg-color-hover: #4d4d4d;
$closebutton-bg-color-hover: #b30062;

$text-color-bright-1: #a3a3a3;
$text-color-bright-2: #bebebe;
$text-color-bright-3: #dddddd;
$text-color-bright-4: #ffffff;